<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queens</title>
</head>
<body>
    <h1>Queens</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Breeder</th>
                <th>Birth Date</th>
                <th>Hive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for queen in queens %}
                <tr>
                    <td>{{ queen.name }}</td>
                    <td>{{ queen.breeder }}</td>
                    <td>{{ queen.birth_date }}</td>
                    <td>{{ queen.hive.name }}</td>
                    <td>
                        <a href="/edit-queen/{{ queen.id }}">Edit</a>
                        <a href="/delete-queen/{{ queen.id }}" style="color:red;">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/add-queen">Add New Queen</a>
</body>
</html>